<div class="row d-flex">
  <div class="col-8"><%=render 'layouts/show'%></div><%#投稿%>
  <div class="col-4"><%# その他 %>
    <div class="h-40"><%=render 'layouts/tasks_show'%></div>
    <div class="h-60"><%=render 'layouts/form'%></div>
  </div>
</div>


  
