<div class="row d-flex">
  <div class="col-8 vh-100"><%=render 'layouts/show'%></div><%#投稿%>
  <div class="col-4"><%# その他 %>
    <div class="overflow vh-60"><%=render 'layouts/tasks_show'%></div>
    <div class="vh-40"><%=render 'layouts/form'%></div>
  </div>
</div>


  
