$("#follow_form").html("<%= j(render partial: 'users/unfollow') %>");
$("#followers").html('<p class="text-center font-weight-bold"> <%= @user.followers.count %></p>');
$("#my-following").html('<%= @current_user.following.count %>');