$('#follow_form').html("<%= escape_javascript(render partial: 'users/follow', locals: {user: @user}) %>");
$("#followers").html('<p class="text-center font-weight-bold"> <%= @user.followers.count %></p>');
$("#my-following").html('<%= @current_user.following.count %>');