<div class="card pt-2 col-12">
<h5 class="font-weight-bold text-center mt-3">作者からのコメント</h5>
<div class="m-3">
  <p>渾身のTODOアプリができました。</p>
  <p>コンセプトは「やり切らせるTODOアプリ」です。</p>
  <p>制作時間は約90時間ぐらい（絶対もっと早く作れた）</p>
</div>
<div class="m-3">
  <p>使い方は、下のアカウント作成ボタン、もしくはログインボタンを押すと、</p>
  <p>入力が求められるので、そのままどうぞ。</p>
</div>
<div class="m-3">
  <p>このTODOアプリの真髄はフォロー機能にあるので、</p>
  <p>是非友達をフォローをしてご利用ください。</p>
</div>
</div>
