@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  overflow-x:hidden;
}
 
body {
  background-color: #F1EDDB;
}

.logo{ 
  width: 100px;
}

.overflow {
  overflow:auto;
}

$vh:10;
@while $vh < 110 {
  .vh-#{$vh} {
    height: $vh + vh;
  }
  $vh: $vh + 10;
}